@import "normalize.css";
@import "fonts.css";
@import "header.css";
@import "banner.css";
@import "promo.css";

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #FFFFFF;
}


img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

@media (max-width: 1540px) {
  .container {
    max-width: 1540px;
    padding: 0 42px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 20px;
  }
}
